.betweenContent{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.subTitle{
    display: flex;
    justify-content: center;
}

.morePadding{
    padding-left: 15px;
    padding-right: 15px;
}

.moreMargin{
    margin-bottom: 20px;
}

